{% extends 'base.html' %}
{% load static %}

{% load markdown_extras %}

{% block title %}
    Strona główna
{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center my-3">Najnowsze posty</h1>
    <ul class="list-group">
        {% for post in post_list %}
            <li class="list-group-item mx-0 px-4 pt-4">
                 <div class="d-flex justify-content-start">
                 <img src="{% static 'speed.jpeg' %}" alt="speedy gonzales" width="240" height="140">
                <div class="mx-2 mt-0 pt-0">
                    <h5><a href="{% url 'details' post.slug %}">{{ post.title }}</a></h5>
                    <b>Autor:</b> {{ post.author }}<br>
                    <!--<b>Treść:</b> {{ post.body|slice:":400" }}<br>-->
                    <b>Utworzono:</b> {{ post.created_at }}<br>
                    {% if user == post.author %}
                    <a href="{% url 'update' post.pk %}" class="update">Edytuj</a>
                    <a href="{% url 'delete' post.pk %}" class="delete">Usuń</a>
                {% endif %}
                </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
