body {
    background-color: dimgrey;
}

.main-content {
    margin-top: 3rem;
}


button > a {
    text-decoration: none;
    color: white;
}

nav {
    color: ivory;
}

.delete {
    color: crimson;
}

h5 > a {
    text-decoration: none;
    color: #003b1a;
}

h5 > a:hover {
    color: blue;
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -ms-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}

.list-group {
    -webkit-box-shadow: 0px 0px 58px -32px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 58px -32px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 58px -32px rgba(66, 68, 90, 1);

}


.list-group-item {
    background-color: gray;
    border: none;
}