body {
    background-color: #e8e8e8;
}

.main-content {
    margin-top: 3rem;
}


button > a {
    text-decoration: none;
    color: white;
}

.mainnav {
    background-color: #f8f9fa ;
}

.delete {
    color: crimson;
}

h5 > a {
    text-decoration: none;
    color: #151515;
}

h5 > a:hover {
    color: #9d9d9d;
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -ms-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}

.list-group {
    -webkit-box-shadow: 0px 0px 58px -32px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 58px -32px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 58px -32px rgba(66, 68, 90, 1);

}


.list-group-item {
    background-color: #f8f9fa;
    background-color: #f8f9fa;
    border: none;
}

ul > .list-group-item:last-child {
    padding-bottom: 30px;
}